#works {
  min-height: calc(100vh - 4rem);
  width: 100vw;
  max-width: 60rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  padding: o 1rem;
}

.worksTitle {
  margin: 1rem 0;
  font-size: 3rem;
}

.worksDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 46rem;
  padding: 0.5rem 0;
}

.worksImgs {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 60vw;
  max-width: 65rem;
  position: relative;
}

.worksImg {
  object-fit: cover;
  height: 15rem;
  width: 25rem;
  margin: 0.5rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.worksImg:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
}

.worksBtn {
  margin: 3rem 0;
  padding: 0.5rem 2.5rem;
  background-color: white;
  border-radius: 1.5rem;
  font-size: 1rem;
}

@media screen and (max-width: 585px) {
  .worksImg {
    height: 48vw;
  }
}
