.intro {
  display: flex;
  justify-content: center;
  /* height: calc(100vh - 4rem); */
  width: 100vw;
  max-width: 75rem;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  gap: 10px;
}

.intro_img {
  display: flex;
  align-items: center;
  height: 70vh;
}

.bg {
  /* position: absolute;
  top: 7rem;
  right: 3rem; */
  z-index: -1;
  object-fit: cover;
  object-position: 50% 9%;
  height: 32vh;
  width: 28vh;
  border-radius: 48%;
}

.introContent {
  height: 80vh;
  width: 100vh;
  padding: 2rem;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hello {
  font-size: 1.75rem;
  font-weight: 100;
}

.introName {
  color: yellow;
}

.introPara {
  font-size: medium;
  font-weight: 300;
  letter-spacing: 1px;
}

.cv {
  display: flex;
  margin: 20px 0;
}

.cv_btn {
  display: inline-flex; /* Ensures it behaves like a button */
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #f5f5f5;
  border-radius: 34px;
  font-weight: 500;
  gap: 8px;
  text-decoration: none; /* Removes underline from <a> tag */
  border: none; /* No border needed */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  color: black; /* Ensures text color stays consistent */
  font-size: 14px;
}

.cv_btn:hover {
  /* background-color: yellow; */
  box-shadow: 0px 0px 20px rgba(249, 241, 2, 0.766);
}

.cv_icon {
  height: 22px;
}

.btn {
  background: white;
  margin: 1rem 0;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 2rem;
}

.btnImg {
  object-fit: cover;
  margin: 0 0.25rem;
  height: 1rem;
}

@media screen and (max-width: 840px) {
  .bg {
    right: -10vw;
  }
  .introContent {
    font-size: 10vw;
  }
  .hello {
    font-size: 4.5vw;
  }
}
@media screen and (max-width: 480px) {
  .bg {
    right: -20vw;
  }
}
